<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VisualNovelGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VisualNovelGame.Properties.Settings>
            <setting name="HeaderDefault" serializeAs="String">
                <value>Display</value>
            </setting>
            <setting name="connectionString" serializeAs="String">
                <value>Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=127.0.0.1)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=visual_novel_game_ceshi)));User ID=HOSHIZ;Password=1707</value>
            </setting>
            <setting name="CurrentLanguage" serializeAs="String">
                <value>0</value>
            </setting>
        </VisualNovelGame.Properties.Settings>
    </userSettings>
</configuration>